[v-cloak] {
  display: none;
}

.v-app-bar-title__content {
  overflow: visible !important;
}
.v-tab::before {
  border-radius: 5px 5px 0px 0px;
}
.v-chip-group--column .v-slide-group__content {
  justify-content: center;
  padding-left: 4px;
}
.v-chip-group--column .v-slide-group__content {
  padding-bottom: 0px;
}
#checkMark {
  color: green;
}
#xOut {
  color: red;
}

.logIn {
  background: url('https://images.alphacoders.com/265/265693.png') no-repeat
    center center fixed !important;
  background-size: cover;
  opacity: 0.8;
}
